<form action="/films/add" method="GET">
    <label >
      Film title: <input type="text" name="title">
    </label>
    <label >
      Film category: <input type="text" name="category">
    </label>
    <label >
      Film rating: <input type="text" name="rating">
    </label>
    <label >
      Film year: <input type="number" name="year">
    </label>
    <label >
      Film poster src: <input type="text" name="imgSrc">
    </label>  
    <input type="submit" value="Add film">
</form>
