<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <a href="/">Home</a>
      <a href="/films">Films</a>
      <a href="/films/addform">Add film</a>
    </div>
    <% if(page) { %>
      <%-include(`${page}.ejs`)%>
    <%}%>

  </body>
</html>
